.welcome {
	background-image: url("../images/welcome-test.jpg");
	/* background-color:white; */
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 50rem;
	z-index:9999;
}

.welcome-two {
	background-image: url("../images/welcome-02.jpg");
	/* background-color:white; */
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 50rem;
	z-index:9999;
	display: none;
}

.welcome-three {
	background-image: url("../images/welcome-03.jpg");
	/* background-color:white; */
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 50rem;
	z-index:9999;
	display: none;
}

.welcome-four {
	background-image: url("../images/welcome-04.jpg");
	/* background-color:white; */
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 50rem;
	z-index:9999;
	display: none;
}

.welcome-five {
	background-image: url("../images/welcome-05.jpg");
	/* background-color:white; */
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 50rem;
	z-index:9999;
	display: none;
}

.welcome-six {
	background-image: url("../images/welcome-06.jpg");
	/* background-color:white; */
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 50rem;
	z-index:9999;
	display: none;
}

.welcome-seven {
	background-image: url("../images/welcome-07.jpg");
	/* background-color:white; */
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 50rem;
	z-index:9999;
	display: none;
}

.welcome-eight {
	background-image: url("../images/welcome-08.jpg");
	/* background-color:white; */
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 50rem;
	z-index:9999;
	display: none;
}

.welcome-nine {
	background-image: url("../images/welcome-09.jpg");
	/* background-color:white; */
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 50rem;
	z-index:9999;
	display: none;
}

.welcome-ten {
	background-image: url("../images/welcome-10.jpg");
	/* background-color:white; */
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 50rem;
	z-index:9999;
	display: none;
}

.welcome-eleven {
	background-image: url("../images/welcome-11.jpg");
	/* background-color:white; */
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 50rem;
	z-index:9999;
	display: none;
}

.welcome-twelve {
	background-image: url("../images/welcome-12.jpg");
	/* background-color:white; */
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 50rem;
	z-index:9999;
	display: none;
}













.question {
	font-family: 'Roboto', sans-serif; 
	font-size: 24px; 
	font-weight: 100;
	color: #878787; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	display: block;
	margin: 0 auto;
	text-align: center;
	height: 35px;
	width: 900px;
}

.top-bar {
	color: white;
	height: 45px;
	display: block;
	margin-top: 15px;
}


.big-photo {
	background-image: url("../images/ibm.jpg");
	/* background-color:white; */
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 50rem;
}

.button-box {
	width: 405px;
	height: 405px;
	background-color: darkGray;
	position: absolute;
	left: 0px;
	top: 200px;
	display: none;
}

.make-block {
	display: block;
}

.button-one {
	width: 200px;
	height: 200px;
	background-color: darkGray;
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 9000;
}
.button-one:hover {
	background-color: orange;
	cursor: pointer;
}
.button-two {
	width: 200px;
	height: 200px;
	background-color: darkGray;
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 205px;
	z-index: 9000;
}
.button-two:hover {
	background-color: orange;
	cursor: pointer;
}
.button-three {
	width: 200px;
	height: 200px;
	background-color: darkGray;
	display: inline-block;
	position: absolute;
	left: 205px;
	top: 0px;
	z-index: 9000;
}
.button-three:hover {
	background-color: orange;
	cursor: pointer;
}
.button-four {
	width: 200px;
	height: 200px;
	background-color: darkGray;
	display: inline-block;
	position: absolute;
	left: 205px;
	top: 205px;
	z-index: 9000;
}
.button-four:hover {
	background-color: orange;
	cursor: pointer;
}

.button-text {
	font-family: 'Roboto', sans-serif;
	letter-spacing: -0.03em;
	-webkit-font-smoothing: antialiased;
	font-size: 30px;
	font-weight: 200;
	color:black;
	text-align: center;
}

.footer {
	background-color: white;
	width: 100%;
	height: 300px;
	display: block;
	margin: 0 auto;

}

.typing {
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

.typing:nth-child(2){
  animation: type2 8s steps(60, end);
}

span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#question {
	
}

.shake {
	display:block;
	position:relative;
  -webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 0.5;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.overlay {
	width: 100%;
	height: 100%;
	color: #fff;
	background: #ADD8E6;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 9998;
	display: none;
}

.content {
	font-family: 'Roboto', sans-serif;
	letter-spacing: -0.03em;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	background: #236B8E;
	position: relative;
	height: 90%;
	width: 700px;
	border-radius: 3px;
	top: 1.5%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);
}

.content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.content > div p {
	margin: 0;
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
}

.content > div ul {
	margin-bottom: -30px;
	padding: 0 0 30px 20px;
	text-align: left;
}

.content > div ul li {
	padding: 5px 0;
	display: block;	
	list-style-type: disc;
	line-height: 1.5em;
}

.content > div ul li strong{
	text-decoration: underline;
}

.content > div a {
font-size: 0.8em;
    background: darkGray;
    color: black;
    padding: 0.5em 2em;
    margin-left: 10px;
    margin-bottom: 50px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 0.02em;
}
.content > div a:hover {
	background: orange;
}

.splash {
	background-image: url("./images/paula.jpg");
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 50rem;
}

.explain-video {
	width: 420px;
	height: 315px;
	margin-bottom: 5px;
}

.pad-top {
	float: right;
    position: relative;
    top: -32px;
    left: 20px;
}

.percent-feed {
	font-family: 'Roboto', sans-serif; 
	font-size: 233px; 
	font-weight: 700;
	color: white; 
	letter-spacing: -0.05em;
	-webkit-font-smoothing: antialiased;
}

.bye > div p {
    margin: 0;
    padding: 10px 0;
    line-height: 1em;
    text-align: center;
}

.bye h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.bye {
	font-family: 'Roboto', sans-serif;
	letter-spacing: -0.03em;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	background: #236B8E;
	position: relative;
	height: 90%;
	width: 700px;
	border-radius: 3px;
	top: 1.5%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);
}

.bye h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.bye > div {
	padding: 15px 0px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.bye > div a {
font-size: 0.8em;
    background: darkGray;
    color: black;
    padding: 0.5em 2em;
    margin-left: 10px;
    margin-bottom: 50px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 0.02em;
}
.bye > div a:hover {
	background: orange;
}

.lil {
	display: inline-block;
	font-size: 75px;
	font-weight: 300;
	position: relative;
    left: 10px;
    bottom: 115px;
}

.bye-top {
	float: right;
    position: relative;
    top: -11px;
    left: -228px;
}


/* bounce bounce bounce */

.bounce {
  position:relative;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}


.play-button {
    font-size: 2.8em;
    background: darkGray;
    color: black;
    padding: 0.5em 2em;
    margin-left: 10px;
    border-radius: 26px;
    text-decoration: none;
    letter-spacing: 0.02em;
    position: absolute;
    top: 200;
    top: 438px;
    left: 502px;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    z-index:9999;
}
.play-button:hover {
	background: orange;
}

.top-layers {
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 9999;
}



.mega {
    position: absolute;
    top: 80px;
    left: 205px;
    width: 900px;
    display: block;
    margin: 0 auto;
}







